.body{
     background-color: 003483;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
.contenedorCalculadora
{
    padding: 10px;
    width: 450px;
    margin: 0% auto;
}

.cuerpoCalculadora
{
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color:royalblue;
}

.contenidoCalculadora
{
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}
.historialNumeros
{
    padding: 10px;
    margin: 10px 100px 10px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-style: solid;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-color: black;
}
.pantallaPrincipal
{
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0px 20px 10px 5px;
    font-weight: bold;
    border-width: 4px;
}
.contenedorBotones
{
    text-align: center;
    
}
input[type=button]{
    padding: 28px;
    font-style: 30px;
    font-weight: bold;
    margin: 5px;
    background-color: rgba(184, 179, 179, 0.61);
    color: black;
}